@import "tailwindcss";

@theme {
  --color-primary: #F4F6F8 ;
  --color-secondery: black ;
  --color-accent: #2E3A4D;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
   width: 10px; /* Scrollbar width */
}
::-webkit-scrollbar-track {
   background: transparent; /* Track background */
}
::-webkit-scrollbar-thumb {
   background: #888; /* Thumb color */
   border-radius: 5px; /* Rounded corners */
}
::-webkit-scrollbar-thumb:hover {
   background: #555; /* Thumb color on hover */
}